<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Выбрать вопросы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">На главную</a>
            </li>
        </ul>
    </div>
</nav>
    <form th:action="@{/createNewGame}" th:object="${game}" method="POST">
        <div class="form-group">
            <p>Название игры:</p>
            <input type="text" th:field="*{caption}" class="form-control"/>
            <br/>
            <p>Вопросы:</p>
        </div>
        <div class="form-check form-switch">
        <th:block th:each="questionPojo, state: ${allPojoQuestions}">
            <input type="checkbox"
                   name="questionPojoList"
                   th:field="*{questionPojoList[__${state.index}__].checked}"
                   class="form-check-input"
            />
            <label class="form-check-label" th:text="*{questionPojoList[__${state.index}__].text}"></label>
            <input type="text" th:field="*{questionPojoList[__${state.index}__].id}" hidden/>
            <br/>
        </th:block>
        </div>
        <br/>
        <button type="submit" class="btn btn-success">Создать игру</button>
    </form>
</body>
</html>